<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>

  <action id="org.frostyard.FirstSetup.scripts.hostname">
    <description>FirstSetup hostname script</description>
    <message>Set the hostname of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/hostname</annotate>
  </action>

  <action id="org.frostyard.FirstSetup.scripts.keyboard">
    <description>FirstSetup keyboard script</description>
    <message>Set the keyboard of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/keyboard</annotate>
  </action>

  <action id="org.frostyard.FirstSetup.scripts.locale">
    <description>FirstSetup locale script</description>
    <message>Set the locale of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/locale</annotate>
  </action>

  <action id="org.frostyard.FirstSetup.scripts.timezone">
    <description>FirstSetup timezone script</description>
    <message>Set the timezone of the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/timezone</annotate>
  </action>

  <action id="org.frostyard.FirstSetup.scripts.user">
    <description>FirstSetup user script</description>
    <message>Add a user to the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/user</annotate>
  </action>

  <action id="org.frostyard.FirstSetup.scripts.removeFirstSetupUser">
    <description>FirstSetup remove FirstSetup user script</description>
    <message>Remove FirstSetup user from the system</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/remove-first-setup-user</annotate>
  </action>

  <action id="org.frostyard.FirstSetup.scripts.installToDisk">
    <description>FirstSetup disk installation script</description>
    <message>Install the selected system image to the chosen disk</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/install-to-disk</annotate>
  </action>

  <action id="org.frostyard.FirstSetup.scripts.enrollKey">
    <description>FirstSetup secure boot key enrollment script</description>
    <message>Enroll a specified secure boot key</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/enroll-key</annotate>
  </action>

  <action id="org.frostyard.FirstSetup.scripts.recoveryKey">
    <description>FirstSetup recovery key script</description>
    <message>Create or rotate a LUKS recovery key</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/recovery-key</annotate>
  </action>

  <action id="org.frostyard.FirstSetup.scripts.flatpakSystem">
    <description>FirstSetup system flatpak installation script</description>
    <message>Install system flatpak applications</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/org.frostyard.FirstSetup/snow_first_setup/scripts/flatpak-system</annotate>
  </action>

</policyconfig>
